@use "./variables";

.card-container {
	background-color: rgb(232, 232, 232);
	padding: 24px 0px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	min-height: 100vh;

	@include variables.for-medium-screen {
		padding: 24px 16px;
	}
}
