@use "./variables";

.card {
	width: 90%;
	padding: 24px 32px;
	background: variables.$light-color;
	display: flex;
	border-radius: 8px;
	flex-direction: column;
	gap: 24px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;

	@include variables.for-medium-screen {
		width: 90%;
	}
	@include variables.for-large-screen {
		width: 1126px;
	}
	@include variables.for-extralarge-screen {
		width: 1126px;
	}

	&-top {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include variables.for-medium-screen {
			flex-direction: row;
		}

		&--left {
			display: flex;
			flex-direction: column;
			width: 100%;

			@include variables.for-medium-screen {
				width: 60%;
			}

			.name {
				font-size: 14px;
				color: variables.$gray;
				font-weight: 500;
				@include variables.for-medium-screen {
					font-size: 16px;
				}
			}

			.teams {
				font-size: 20px;
				font-weight: 700;
				color: variables.$dark-color;
				text-transform: uppercase;

				@include variables.for-medium-screen {
					font-size: 24px;
				}
			}
		}

		&--right {
			display: flex;
			flex-direction: column;

			font-size: 16px;
			width: 100%;

			@include variables.for-medium-screen {
				width: 40%;
				text-align: right;
			}

			.stadium {
				color: variables.$gray;
				font-weight: 500;
				font-size: 14px;
				@include variables.for-medium-screen {
					font-size: 16px;
				}
			}
			.match-date {
				color: variables.$gray;
				font-weight: 500;
				font-size: 14px;
				@include variables.for-medium-screen {
					font-size: 16px;
				}
			}

			.result {
				font-weight: 500;
				color: variables.$dark-color;
				font-size: 14px;
				@include variables.for-medium-screen {
					font-size: 16px;
				}
			}
		}
	}

	&-main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		gap: 20px;

		@include variables.for-medium-screen {
			align-items: center;
			flex-direction: row;
		}

		.match {
			display: flex;
			width: 100%;
			flex-direction: column;
			gap: 24px;
			padding-right: 24px;

			@include variables.for-medium-screen {
				width: 60%;
			}

			&-1 {
				display: flex;
				align-items: center;
				justify-content: space-between;

				div {
					display: flex;
					align-items: center;
					gap: 6px;

					.match-placeholder {
						padding: 3px;
						border: 1px solid variables.$gray;
						border-radius: 4px;
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						-ms-border-radius: 4px;
						-o-border-radius: 4px;
						width: 24px;

						@include variables.for-medium-screen {
							width: 36px;
						}
					}

					.team-abbreviation {
						color: variables.$dark-color;
						font-weight: 600;
						font-size: 16px;

						@include variables.for-medium-screen {
							font-size: 24px;
						}
					}

					.winner-cup {
						width: 16px;

						@include variables.for-medium-screen {
							width: 20px;
						}
					}
				}
				.team-run {
					font-weight: 600;
					color: variables.$dark-color;
					font-size: 16px;

					@include variables.for-medium-screen {
						font-size: 24px;
					}
				}
			}

			&-2 {
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: space-between;

				div {
					display: flex;
					align-items: center;
					gap: 6px;

					.match-placeholder {
						padding: 3px;
						border: 1px solid variables.$gray;
						border-radius: 4px;
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						-ms-border-radius: 4px;
						-o-border-radius: 4px;
						width: 24px;

						@include variables.for-medium-screen {
							width: 36px;
						}
					}

					.team-abbreviation {
						color: variables.$dark-color;
						font-weight: 600;
						font-size: 16px;
						@include variables.for-medium-screen {
							font-size: 24px;
						}
					}
					.winner-cup {
						width: 16px;

						@include variables.for-medium-screen {
							width: 20px;
						}
					}
				}

				.team-run {
					font-weight: 600;
					color: variables.$dark-color;
					font-size: 16px;
					@include variables.for-medium-screen {
						font-size: 24px;
					}
				}
			}
		}

		.man-of-the-match {
			display: flex;
			width: 100%;
			align-items: flex-start;
			gap: 12px;

			@include variables.for-medium-screen {
				width: 40%;
				padding-left: 24px;
				border-left: 2px solid variables.$gray;
			}

			img {
				width: 100px;

				@include variables.for-medium-screen {
					width: 100px;
				}
			}

			.heading {
				display: flex;
				flex-direction: column;
				gap: 8px;

				.title {
					font-size: 12px;
					font-weight: 600;
					color: variables.$gray;

					@include variables.for-medium-screen {
						font-size: 14px;
					}
				}

				.player-name {
					font-size: 16px;
					color: variables.$primary-color;
					font-weight: 500;
					@include variables.for-medium-screen {
						font-size: 20px;
					}
				}
			}
		}
	}
}
